<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>comidaNew</title>

</head>

<body>

<header th:replace="fragments/menu :: menu-principal"></header>


<main role="main">

    <div class="container mt-3">

        <div class="card1">
            <h1 class="card-header text-center "><strong>Carga de comida</strong></h1>
            <div class="card-body">
                <form th:action="@{/comida/save}" method="post">
                    <div class="row">
                        <div class="col-md-3">

                            <label for="entrada"><h6>Entrada</h6></label>
                                <input type="text" class="form-control" id="entrada" name="entrada" placeholder="Entrada" required="required">

                        </div>

                        <div class="col-md-6">

                                <label for="principal"><h6>Principal</h6></label>
                                <input type="text" class="form-control"  id="principal" name="principal" placeholder="Comida" required="required">

                        </div>


                        <div class="col-md-3">

                                <label for="postre"><h6>Postre</h6></label>
                                <input type="text" class="form-control" id="postre" name="postre" placeholder="Postre" required="required">

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group mt-3">
                                <label for="categoria"><h6>Tipo de Menu</h6></label>
                                <select class="form-control"   id="categoria" name="tipo_comida">
                                    <option value="1">Principal</option>
                                    <option value="2">Light</option>
                                    <option value="3">Celiaco</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="d-flex justify-content-center">
                    <button type="submit" title="Guardar el registro." class="btn btn-outline-secondary botoncito1 table-light margen3">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- /container -->
    <script src="../../static/js/dropdown.js"></script>

</main>

<footer th:insert="fragments/footer :: footer" class="footer">

</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>