<!doctype html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Comidas Cargadas</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>

<body>

<header th:insert="fragments/menu :: menu-principal">

</header>

<main role="main">


    <div class="container">
        <h2 class="font-weight-bold text-center text-capitalize">Comidas Cargadas</h2>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <!-- <img class="rounded mx-auto d-block" th:src="@{/images/logo1.png}" alt="Generic placeholder image" width="220" height="220">-->
            </div>

            <table class="table w-100 striped-table">
                <thead class="thead-dark">
                <tr>
                    <th>Entrada</th>
                    <th>Principal</th>
                    <th>Postre</th>
                    <th>Tipo</th>

                </tr>
                </thead>
                <tbody th:each="comida :${comidas}">
                <tr>
                    <td th:text="${comida.entrada}"></td>
                    <td th:text="${comida.principal}"></td>
                    <td th:text="${comida.postre}"></td>
                    <td th:text="${comida.tipo_comida}"></td>
                </tr>

                </tbody>
            </table>


        </div>

        <hr>
    </div> <!-- /container -->

</main>

<footer th:insert="fragments/footer :: footer" class="footer">

</footer>

<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
