<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Productos</title>
  <script th:src="@{/js/toogleText.js}"></script>
</head>
<body>
<header th:insert="fragments/menu :: menu-principal">

</header>

<main class="margen2" role="main">

  <div class="container ">

    <div class=" card1 ">
      <h1 class="card-header text-center"><strong>Listado de Productos</strong></h1>
      <div class="card-body botocito1">


          <!-- Formulario de Búsqueda -->
        <form class="form-inline margen1 d-flex flex-column flex-sm-row" th:action="@{/productos/search}" method="get" th:object="${search}">
          <label for="producto" class="mr-sm-2 "><h5>Buscar:</h5></label>
          <input type="text" class="form-control mb-2 mb-sm-0 flex-grow-1 a" id="producto" th:value="${descripcion}" name="descripcion" placeholder="Producto" required="required">
          <button type="submit" class="btn btn-outline-secondary botoncito1 b"><i class="bi bi-search"></i></button>
        </form>

          </div>
      <div>
        <button class="btn btn-outline-secondary float-start botoncito1 margen1" onclick="toggleText()">Nuevo producto</button>

      </div>

      <div class="col">
        <form th:action="@{/productos/save}" method="post">
          <div id="thymeleafText" style="display:none;" class="card1">
            <h4 class="card-header" for="producto">Cargar nuevo producto:</h4>
            <div class="row justify-content-center">
              <div class="col-md-11 col-sm-11 col-12">
                <input type="text" class="form-control mt-3" id="descripcion" name="descripcion" placeholder="Nuevo producto" required="required">
              </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
              <button type="submit" title="Guardar el registro." class="btn btn-outline-secondary botoncito1 m-3">Guardar</button>
            </div>
          </div>
        </form>
      </div>




        <hr>
      <div class="table-responsive p-2">
        <table class="table-borderless w-100 striped-table p-3">

          <tbody>
          <tr th:each="producto :${productos}">
            <td class="float-left" th:text="${producto.descripcion}">CocaCola</td>
            <td class="float-right">
              <a th:href="@{/productos/editar/{id} (id=${producto.id_producto})}" class=" color1" role="button" title="Editar"><i class="bi bi-pencil" aria-hidden="true"></i></a>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
        <!-- Paginación -->
        <div>
        <nav th:if="${productos.totalPages > 1}" aria-label="Page navigation example">
          <ul class="pagination">
                <li th:if="${productos.hasPrevious()}">
                    <a th:href="@{/productos/ver(keyword=${keyword}, page=${productos.number - 1})}" class="btn btn-outline-secondary botoncito1 table-light margen3 ">Anterior</a>
                </li>

                <li th:if="${productos.hasNext()}">
                    <a th:href="@{/productos/ver(keyword=${keyword}, page=${productos.number + 1})}" class="btn btn-outline-secondary botoncito1 table-light margen3 ">Siguiente</a>
                </li>
          </ul>
        </nav>
        </div>


      </div>


    </div>

  </div> <!-- /container -->

</main>





<footer th:insert="fragments/footer :: footer" class="footer">

  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</footer>
</body>
</html>
