<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Listado Reservas</title>
</head>
<body>
<header th:insert="fragments/menu :: menu-principal">

</header>

<div class="container mt-3">
    <h4 class="text-right">
        <!-- Mostrar fecha y hora formateadas -->
        <strong>Hora: </strong>
        <span th:text="${#temporals.format(serverTime, 'EEEE dd MMMM yyyy HH:mm')}"></span>
    </h4>


<div class="container">
    <div class="card1 mt-3" >
        <h1 class="card-header text-center"><strong>Reservas</strong></h1>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>Fecha</th>
                <th>Apellido y Nombre</th>
                <th class="text-center">Menu</th>
                <th>Medio</th>
                <th>Id_Reserva</th>
            </tr>
            </thead>

            <tbody class="table-borderless w-100 striped-table">

            <tr th:each="reserva :${reservas}">
                <td th:if="${reserva.f_reserva != null}" th:text="${#temporals.format(reserva.f_reserva, 'EEEE dd  MMMM  yyyy')}"></td>
                <td th:text="${reserva.usuario.apellido} +' '+ ${reserva.usuario.nombre}"></td>
                <td th:text="${reserva.menu.comida.entrada}+' ++++ '+ ${reserva.menu.comida.principal}+' ++++ '+ ${reserva.menu.comida.postre}"></td>
                <td>
                    <div th:switch="${reserva.medio}">
                        <p th:case="'1'">Comedor</p>
                        <p th:case="'2'">Retira</p>
                        <p th:case="'3'">Vianda</p>

                    </div>
                </td>
                <td class="text-center" th:text="${reserva.idReserva}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</div>




<footer th:insert="fragments/footer :: footer" class="footer">
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</footer>
</body>
</html>