<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">

  <title>Ingreso comida</title>
</head>
<body>
<header th:replace="fragments/menu :: menu-principal"></header>


<div class="col-md-12 col-lg-11 m-1 mx-auto">
  <div class="card1 mt-3">
    <div class="card-header text-center">
      <h3>Reservas del Día : Total: <span th:text="${totalReservas}"></span>, Consumidas: <span th:text="${totalConsumidas}"></span></h3>
    </div>
    <div class="">
      <div class="row">
        <!-- Tabla de resumen de tipos de comida -->
        <div class="col-md-6">
          <h5 class="text-center m-2">Resumen por Tipo de Comida</h5>
          <ul class="list-group">
            <li class="list-group-item text-center" th:each="entry : ${sumaPorTipoComida}">
              <span class="" th:text="${tipoComidaDescripcion[entry.key]}">Tipo de Comida</span>:
              <span class="" th:text="${entry.value}">0</span>
            </li>
          </ul>
        </div>

        <!-- Tabla de resumen por lugar de consumo -->
        <div class="col-md-6">
          <h5 class="text-center m-2">Resumen por Lugar de Consumo</h5>
          <ul class="list-group">
            <li class="list-group-item text-center" th:each="entry : ${sumaPorLugarConsumo}">
              <span class="" th:text="${medioDescripcion[entry.key]}">Lugar de Consumo</span>:
              <span class="" th:text="${entry.value}">0</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Tabla de reservas -->
      <div class="card1 m-1 border-dark mt-3">
        <div class="card-header p-0 text-center">
        <h5 class="m-2">Detalle de Reservas No Consumidas</h5>
        </div>
          <div class="table-responsive">
          <table class="table">
            <thead class="thead-light">
            <tr>
              <th>Apellido</th>
              <th>Nombre</th>
              <th>Comida Principal</th>
              <th>Tipo Comida</th>
              <th>Lugar Consumo</th>
              <th class="text-center">Acciones</th>
            </tr>
            </thead>
            <tbody class=" w-100 striped-table">
            <tr th:each="reserva  : ${reservasNoConsumidas}">
              <td th:text="${reserva.usuario.apellido}"></td>
              <td th:text="${reserva.usuario.nombre}"></td>
              <td th:text="${reserva.menu.comida.principal}"></td>
              <td th:text="${tipoComidaDescripcion[reserva.menu.comida.tipo_comida]}"></td>
              <td th:text="${medioDescripcion[reserva.medio]}"></td>
              <td class="text-center">
                <form th:action="@{/reservas/marcar-consumido/{id}(id=${reserva.idReserva})}" method="post">
                  <button type="submit" class="btn-no-border"  ><img class="nanbtn" th:src="@{/images/chklm.webp}" alt="Marcar como consumido"></button>
                </form>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Tabla de reservas consumidas -->
      <div class="card1 m-1 border-dark mt-3">
        <div class="card-header p-0 text-center">
          <h5 class="mt-4">Reservas Consumidas</h5>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-light" >
            <tr>
              <th>Apellido</th>
              <th>Nombre</th>
              <th>Comida Principal</th>
              <th>Tipo Comida</th>
              <th>Lugar Consumo</th>
              <th>Consumió</th>
              <th>Acciones</th>  <!-- Nueva columna para las acciones -->
            </tr>
            </thead>
            <tbody class="table-borderless w-100 striped-table">
              <tr th:each="reserva : ${reservasConsumidas}">
                <td th:text="${reserva.usuario.apellido}"></td>
                <td th:text="${reserva.usuario.nombre}"></td>
                <td th:text="${reserva.menu.comida.principal}"></td>
                <td th:text="${tipoComidaDescripcion[reserva.menu.comida.tipo_comida]}"></td>
                <td th:text="${medioDescripcion[reserva.medio]}"></td>
                <td>
                  Entregado:<span th:text="${#temporals.format(reserva.entregado, 'dd-MM-yyyy HH:mm')}"></span>
                </td>
                <td class="text-center" >
                  <form th:action="@{/reservas/cancelar-consumido/{id}(id=${reserva.idReserva})}" method="post">
                    <button type="submit" class="btn-no-border" ><img class="nanbtn" th:src="@{/images/x.png}" alt="Cancelar">

                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
           </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<footer th:insert="fragments/footer :: footer" class="footer"></footer>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<!-- Scripts necesarios -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
