<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>ConsumosVer</title>
</head>
<body>

<header th:insert="fragments/menu :: menu-principal">

</header>
<div class="container">
  <div class="card1">
    <h2 class="text-center card-header">Todos los consumos</h2>

    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark justify-content-around">
        <tr class="text-center">
          <th class="col-2">Fecha</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody class="table-borderless w-100 striped-table">
        <tr th:each="consumo :${consumos}">
          <td class="col-2" th:if="${consumo.fecha != null}" th:text="${#temporals.format(consumo.fecha, 'EEEE dd  MMMM  yyyy')}"></td>
          <td class="text-center" th:text="${consumo.usuario.nombre}"></td>
          <td class="text-center" th:text="${consumo.usuario.apellido}"></td>
          <td class="text-center" th:text="${consumo.producto.descripcion}"></td>
          <td class="text-center" th:text="${consumo.cantidad}"></td>
          <td class="text-center">
            <div class="d-inline-flex align-items-center">
              <a th:href="@{/consumos/editar/{id} (id=${consumo.idConsumo})}" class="btn btn-outline-secondary botoncito1 round-button mx-0 p-1 mr-1" role="button" title="Editar">
                <i class="bi bi-pencil" aria-hidden="true"></i>
              </a>
             <!-- <a th:href="@{/consumos/delete/{id} (id=${consumo.idConsumo})}" class="btn btn-outline-secondary botoncito1 round-button mx-0 ml-2 p-1" role="button" title="Eliminar">
                <i class="bi bi-trash" aria-hidden="true"></i>
              </a> -->
              <a th:href="@{/consumos/delete/{id} (id=${consumo.idConsumo})}"
                 class="btn btn-outline-secondary botoncito1 round-button mx-0 ml-2 p-1"
                 role="button"
                 title="Eliminar"
                 onclick="return confirm('¿Estás seguro de que deseas eliminar este consumo?');">
                <i class="bi bi-trash" aria-hidden="true"></i>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr>
  <div class="text-center mt-3">
    <a th:href="@{/consumos/export/excel}" class="btn btn-outline-secondary botoncito1 table-light margen3">Exportar a Excel</a>
  </div>
</div>

<footer th:insert="fragments/footer :: footer" class="footer">

</footer>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>