<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">

  <title>AsignarConsumos</title>
</head>
<body>
<header th:insert="fragments/menu :: menu-principal">

</header>

<main role="main">
  <hr>
  <div class="container">

    <div class="card">
      <h4 class="card-header"><strong>Asginar consumos</strong></h4>
      <div class="card-body">
        <form th:action="@{/consumos/save}" method="post"  th:object="${consumo}">

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="Producto">Producto</label>
                <select class="form-control" name="producto" id="producto">
                  <option selected> Seleccione un producto</option>
                  <option th:each="producto :${productos}" th:value="${producto.id_producto}" th:text="${producto.descripcion}"></option>
                </select>
              </div>
            </div>

            <div class="col-md-5">
              <div class="form-group">
                <label for="usuario">Cliente</label>
                <select class="form-control" name="usuario" id="usuario">
                  <option selected> Seleccione un usuario</option>
                  <option th:each="usuario :${usuarios}" th:value="${usuario.id_usuario}" th:text="${usuario.apellido} +' ' + ${usuario.nombre} "></option>
                </select>
              </div>

            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="fecha">Fecha</label>
                <input type="date" class="form-control" name="fecha" id="fecha" placeholder="Fecha" required="required">
              </div>
            </div>


            <div class="col-md-2">
              <div class="form-group">
                <label for="cantidad">Cantidad</label>
                <input type="text" class="form-control" name="cantidad" id="cantidad" placeholder="unidades" required="required">
              </div>
            </div>


          </div>

          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div> <!-- /container -->

</main>







<footer th:insert="fragments/footer :: footer" class="footer">
  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</footer>
</body>
</html>