<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>ConsumosVer</title>
</head>
<body>

<header th:replace="fragments/menu :: menu-principal"></header>

<div class="container">
  <div class="card1">
    <h1 class="text-center card-header"><strong>Todos los consumos</strong></h1>

    <form class="form-inline mb-4 mt-3 align-items-center justify-content-center" th:action="@{/consumos/search}" method="get">
      <label for="fechaInicio" class="mr-sm-2"><h6>Desde:</h6></label>
      <input type="date" class="form-control mb-2 mr-sm-2" id="fechaInicio" name="fechaInicio" th:value="${fechaInicio}">

      <label for="fechaFin" class="mr-sm-2"><h6>Hasta:</h6></label>
      <input type="date" class="form-control mb-2 mr-sm-2" id="fechaFin" name="fechaFin" th:value="${fechaFin}">

      <label for="usuario" class="mr-sm-2"><h6>Usuario:</h6></label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="usuario" name="usuario" placeholder="Nombre o Apellido" th:value="${usuario}">

      <button type="submit" class="btn btn-outline-secondary mb-2">Filtrar</button>
    </form>

    <!-- Tabla de resultados -->
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark justify-content-around">
        <tr class="text-center">
          <th class="col-2 text-left">Fecha</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody class="table-borderless w-100 striped-table">
        <tr th:each="consumo :${consumos}">
          <td class="col-2" th:if="${consumo.fecha != null}" th:text="${#temporals.format(consumo.fecha, 'EEEE dd  MMMM  yyyy')}"></td>
          <td class="text-center" th:text="${consumo.usuario.nombre}"></td>
          <td class="text-center" th:text="${consumo.usuario.apellido}"></td>
          <td class="text-center" th:text="${consumo.producto.descripcion}"></td>
          <td class="text-center" th:text="${consumo.cantidad}"></td>
          <td class="text-center">
            <div class="d-inline-flex align-items-center">
              <a th:href="@{/consumos/editar/{id} (id=${consumo.idConsumo})}" class="color1 mx-0 mr-1" role="button" title="Editar">
                <i class="bi bi-pencil" aria-hidden="true"></i>
              </a>
              <a th:href="@{/consumos/delete/{id} (id=${consumo.idConsumo})}" class="color1 mx-0 ml-2" role="button" title="Eliminar" onclick="return confirm('¿Estás seguro de que deseas eliminar este consumo?');">
                <i class="bi bi-trash" aria-hidden="true"></i>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <!-- Paginación -->
      <div>
        <nav th:if="${totalPages > 1}" aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <!-- Botón 'Anterior' -->
            <li th:classappend="${currentPage > 0} ? '' : 'disabled'" class="page-item">
              <a th:href="${currentPage > 0} ? @{/consumos/ver(page=${currentPage - 1})} : 'javascript:void(0)'"
                 class="btn btn-outline-secondary botoncito1 table-light margen3">Anterior</a>
            </li>

            <!-- Números de página -->
            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${currentPage == i} ? 'active' : ''" class="page-item">
              <a th:href="@{/consumos/ver(page=${i})}"
                 class="btn btn-outline-secondary botoncito1 table-light margen3" th:text="${i + 1}">1</a>
            </li>

            <!-- Botón 'Siguiente' -->
            <li th:classappend="${currentPage < totalPages - 1} ? '' : 'disabled'" class="page-item">
              <a th:href="${currentPage < totalPages - 1} ? @{/consumos/ver(page=${currentPage + 1})} : 'javascript:void(0)'"
                 class="btn btn-outline-secondary botoncito1 table-light margen3">Siguiente</a>
            </li>
          </ul>
        </nav>
      </div>

    </div>

    <hr>

    <div class="text-center mt-3">
      <a th:href="@{/consumos/ver}" class="btn btn-outline-secondary botoncito1 table-light margen3 mb-4">Ver Todos</a>
      <a th:href="@{/consumos/export/excel(usuario=${usuario}, fechaInicio=${fechaInicio}, fechaFin=${fechaFin})}"
         class="btn btn-outline-secondary botoncito1 table-light margen3 mb-4">
        Exportar a Excel
      </a>

    </div>
  </div>
</div>



<footer th:insert="fragments/footer :: footer" class="footer">

</footer>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>