<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>AsginarConsumos</title>
  <script th:src="@{/js/toogleText.js}"></script>
</head>
<body>
<header th:replace="fragments/menu :: menu-principal"></header>


<main>
  <hr>
  <div class="col-md-12 col-lg-11 m-1 mx-auto">

    <div class="card1 mt-4">
      <h4 class="card-header text-center"><strong>Asginar consumos</strong></h4>
      <div class="card-body">
        <form th:action="@{/consumos/save}" method="post">

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
               <!-- <label for="Producto"><h6>Producto</h6></label>
                <select class="form-control" name="producto" id="producto">
                  <option selected>producto</option>
                  <option th:each="producto :${productos}" th:value="${producto.id_producto}" th:text="${producto.descripcion}"></option>
                </select>-->
                <input type="hidden" name="producto" id="productoId">
                <label for="producto"><h6>Producto</h6></label>
                <input type="text" class="form-control" id="producto" placeholder="Producto">
                <div id="sugerencias-producto" class="list-group"></div>
              </div>
            </div>

            <div class="col-md-5">
              <div class="form-group">
                <!--<label for="usuario"><h6>Cliente</h6></label>
                <select class="form-control" name="usuario" id="usuario">
                  <option selected>usuario</option>
                  <option th:each="usuario :${usuarios}" th:value="${usuario.id_usuario}" th:text="${usuario.apellido} +' ' + ${usuario.nombre} "></option>
                </select>      -->
                  <label for="usuarioNom"><h6>Cliente</h6></label>
                  <input type="text" class="form-control" id="usuarioNom" placeholder="Buscar cliente">
                  <div id="sugerencias-usuario" class="list-group"></div>
                  
                  <!-- Campo oculto para el id del usuario -->
            </div><input type="hidden" name="usuario" id="usuarioId">
                  </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="fecha"><h6>Fecha</h6></label>
                <input type="date" class="form-control" name="fecha" id="fecha" placeholder="Fecha" required="required">
              </div>
            </div>


              <div class="col-md-2">
                <div class="form-group">
                  <label for="cantidad"><h6>Cantidad</h6></label>
                  <input type="text" class="form-control" name="cantidad" id="cantidad" placeholder="unidades" required="required">
                </div>
              </div>


          </div>
         <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-outline-secondary botoncito1 table-light margen3">Guardar</button>
           </div>
        </form>
      </div>
    </div>
  </div> <!-- /container -->

</main>





<footer th:insert="fragments/footer :: footer" class="footer">
</footer>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/buscarProducto.js}"></script>
<script th:src="@{/js/buscarNombreApellido.js}"></script>
<!-- Scripts necesarios -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>