<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>ListadoDeUsuarios</title>
</head>
<body>
<header th:replace="fragments/menu :: menu-principal"></header>

</header>
<main>

    <div class=" col-md-12 col-lg-11 m-1 mx-auto mt-3">
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>
        <div th:if="${success}" class="alert alert-success" role="alert">
            <p th:text="${success}"></p>
        </div>
        <div class="card1 mt-3" >
            <h3 class="card-header text-center"><strong>Usuarios<span id="fecha"></span></strong></h3>
                <form class="form-inline w-100 mt-3" th:action="@{/usuarios/ver}" method="get">
                    <!-- Filtros de Búsqueda -->
                    <div class="row w-100">
                        <div class="col-lg-2 col-md-12 mb-2 text-left mt-2">
                            <label for="dni"><h5>Filtrar por:</h5></label>
                        </div>

                        <div class="col-lg-3 col-md-12 mb-2">
                            <input type="number" class="form-control w-100" id="dni" th:value="${dni}" name="dni" placeholder="DNI" />
                        </div>

                        <div class="col-lg-3 col-md-12 mb-2">
                            <input type="text" class="form-control w-100" id="apellido" th:value="${apellido}" name="apellido" placeholder="Apellido" />
                        </div>

                        <div class="col-lg-3 col-md-12 mb-2">
                            <input type="text" class="form-control w-100" id="empresa" th:value="${empresa}" name="empresa" placeholder="Empresa" />
                        </div>

                        <div class="col-lg-1 col-md-12 mb-2 d-flex align-items-end">
                            <button type="submit" class="btn btn-outline-secondary btn-sm w-100">Buscar</button>
                        </div>
                    </div>
                </form>


                <!-- Tabla de usuarios -->
                <div class="table-responsive">
                    <table class="table mt-3">
                        <thead class="thead-light1">
                        <tr>
                            <th class="col-2 pl-1 pr-1">Nombre</th>
                            <th class="col-2 pl-1 pr-1">Apellido</th>
                            <th class="col-2 pl-1 pr-1">DNI</th>
                            <th class="col-1 pl-1 pr-1">
                                <span class="d-none d-md-inline">Empresa</span>
                                <span class="d-inline d-md-none">Emp</span>
                            </th>
                            <th class="col-1 pl-1 pr-1"></th>
                            <th class="col-2 pl-1 pr-1"></th>
                        </tr>

                        </thead>
                        <tbody class="table-borderless w-100 striped-table" >
                        <tr th:each="usuario : ${usuarios.content}">
                            <td class="pl-1 pr-1" th:text="${usuario.nombre}"></td>
                            <td class="pl-1 pr-1" th:text="${usuario.apellido}"></td>
                            <td class="pl-1 pr-1" th:text="${usuario.dni}"></td>
                            <td class="pl-1 pr-1" th:text="${usuario.empresa}"></td>
                            <td class="pl-1 pr-1" th:classappend="${usuario.estado == 1} ? 'text-success' : 'text-danger'">
                                <img class="nanbtn3" th:src="${usuario.estado == 1} ? @{/images/activo.png} : @{/images/inactivo.png}"
                                     th:alt="${usuario.estado == 1} ? 'Activo' : 'Inactivo'" />
                            </td>

                            <td class="text-center" >
                                <a  th:href="@{/usuarios/cambiar-clave-rrhh(dni=${usuario.dni})}" class="color1 nanbtn2 mr-1" role="button" title="Cambiar Clave">
                                    <i class="bi bi-key nanbtn2" aria-hidden="true"></i>
                                </a>
                                <a th:href="@{/usuarios/editar/{id} (id=${usuario.id_usuario})}" class=" color1 nanbtn2 ml-1" role="button" title="Editar"><i class="bi bi-pencil" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Paginación -->
            <nav>
                <ul class="pagination d-flex flex-wrap justify-content-center pagination-sm">
                    <li th:classappend="${currentPage == 0} ? 'disabled' : ''" class="page-item">
                        <a th:href="@{/usuarios/ver(page=${currentPage - 1}, dni=${dni}, apellido=${apellido}, empresa=${empresa})}" class="btn btn-outline-secondary table-light mb-1">Anterior</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                        th:classappend="${i == currentPage} ? 'active' : ''" class="page-item">
                        <a th:href="@{/usuarios/ver(page=${i}, dni=${dni}, apellido=${apellido}, empresa=${empresa})}" class="btn btn-outline-secondary table-light mb-1" th:text="${i + 1}">1</a>
                    </li>
                    <li th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''" class="page-item">
                        <a th:href="@{/usuarios/ver(page=${currentPage + 1}, dni=${dni}, apellido=${apellido}, empresa=${empresa})}" class="btn btn-outline-secondary table-light mb-1">Siguiente</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</main>

<footer th:insert="fragments/footer :: footer" class="footer"></footer>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<!-- Scripts necesarios -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>