<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Blanquear Clave</title>
</head>
<body>
<header th:replace="fragments/menu :: menu-principal"></header>



<div class="container justify-content-center mt-3">
    <div class="card1 ">
        <h1 class="card-header text-center "><strong>Blanquear Clave</strong></h1>
        <div class="card-body m-5 ">

            <!-- Mensajes de error o éxito -->
            <div th:if="${error}" style="color:red;">
                <p th:text="${error}"></p>
            </div>
            <div th:if="${success}" style="color:green;">
                <p th:text="${success}"></p>
            </div>

            <!-- Formulario para cambiar la clave -->
            <form th:action="@{/usuarios/cambiar-clave-rrhh}" method="post">
                <div>
                    <input class=" form-control mt-3 col-15 justify-content-center"
                           type="number"
                           id="dni"
                           name="dni"
                           th:value="${dni}"
                    placeholder="DNI"
                    required >
                </div>
                <div>
                    <input class=" form-control mt-3 col-15 justify-content-center"
                           type="password"
                           id="newPassword"
                           name="newPassword"
                           placeholder="Nueva contraseña"
                           required>
                </div>
                <div>
                    <input class=" form-control mt-3 col-15 justify-content-center"
                           type="password"
                           id="confirmPassword"
                           name="confirmPassword"
                           placeholder="Confirmar nueva contraseña"
                           required>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-secondary botoncito1 table-light margen3 mt-5">Cambiar contraseña</button>
                </div>
            </form>

        </div>
    </div>
</div>

<footer th:insert="fragments/footer :: footer" class="footer">

</footer>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<!-- Scripts necesarios -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>