<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>ListadoDeUsuarios</title>
</head>
<body>
<header th:insert="fragments/menu :: menu-principal">

</header>
<div class="container">
    <div class="card1 mt-3 pb-3">
        <h1 class="card-header text-center"><strong>Ver usuarios</strong></h1>

            <!-- Formulario de Búsqueda -->
        <div class="container">
            <form class="form-inline w-100" th:action="@{/usuarios/search}" method="get" th:object="${search}">
                <div class="row w-100">

                    <div class="col-12 mb-2 text-left mt-3">
                        <label for="dni"><h5>Filtrar por:</h5></label>
                    </div>


                    <div class="col-12 col-sm-4 mb-2">
                        <input type="number" class="form-control w-100" id="dni" th:value="${dni}" name="dni" placeholder="DNI" />
                    </div>

                    <div class="col-12 col-sm-4 mb-2">
                        <input type="text" class="form-control w-100" id="apellido" th:value="${apellido}" name="apellido" placeholder="APELLIDO" />
                    </div>

                    <div class="col-12 col-sm-4 mb-2 d-flex align-items-end">
                        <button type="submit" class="btn btn-outline-secondary w-100">Buscar</button>
                    </div>
                </div>
            </form>
        </div>


        <div class="table-responsive">

            <table class="table mt-3">
                <thead class="thead-dark">
                <tr class="text-center">
                    <th class="text-left" >Nombre</th>
                    <th >Apellido</th>
                    <th >DNI</th>
                     <th >CC</th>
                    <th >Grupo</th>
                    <th >Empresa</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="table-borderless w-100 striped-table">
                <tr class="text-center" th:each="usuario :${usuarios}">
                    <td class="text-left"  th:text="${usuario.nombre}"></td>
                    <td  th:text="${usuario.apellido}"></td>
                    <td  th:text="${usuario.dni}"></td>
                    <td  th:text="${usuario.cc}"></td>
                    <td  th:text="${usuario.grupo}"></td>
                    <td th:text="${usuario.empresa}"></td>
                    <td  th:text="${usuario.estado}"></td>
                    <td class="">
                        <a th:href="@{/usuarios/editar/{id} (id=${usuario.id_usuario})}" class=" color1" role="button" title="Editar"><i class="bi bi-pencil" aria-hidden="true"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



</div>

<footer th:insert="fragments/footer :: footer" class="footer"></footer>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>