<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>editarUsuario</title>
</head>
<body>
<header th:replace="fragments/menu :: menu-principal"></header>
<div class="container">
    <div class="card1">
        <h4 class="card-header text-center"><strong>Editar usuario</strong></h4>
        <div class="card-body">
            <form th:action="@{/usuarios/save}" method="post" th:object="${usuario}">
                <input type="hidden" th:field="*{id_usuario}">
                <input type="hidden" th:field="*{pass}">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="nombre"><h6>Nombre</h6></label>
                            <input type="text" class="form-control" th:field="*{nombre}" name="nombre" id="nombre" placeholder="nombre" required="required" style="text-transform: capitalize;">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="apellido"><h6>Apellido</h6></label>
                            <input type="text" class="form-control" th:field="*{apellido}" name="apellido" id="apellido" placeholder="apellido" required="required" style="text-transform: capitalize;">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="dni"><h6>DNI</h6></label>
                            <input type="text" class="form-control" th:field="*{dni}" name="dni" id="dni" placeholder="nro DNI" required="required">
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="grupo"><h6>Grupo</h6></label>
                            <select class="form-control" th:field="*{grupo}" name="grupo" id="grupo">
                                <option value="" disabled selected>Seleccione un grupo</option>
                                <option th:each="grupo : ${grupos}" th:value="${grupo}" th:text="${grupo}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ceco"><h6>CeCo</h6></label>
                            <select class="form-control" th:field="*{cc}" name="ceco" id="ceco">
                                <option value="" disabled selected>Seleccione CeCo</option>
                                <option th:each="ceco : ${cecos}" th:value="${ceco}" th:text="${ceco}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="empresa"><h6>Empresa</h6></label>
                            <select class="form-control" th:field="*{empresa}" name="empresa" id="empresa">
                                <option value="" disabled selected>Seleccione empresa</option>
                                <option th:each="empresa : ${empresas}" th:value="${empresa}" th:text="${empresa}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="estado"><h6>Estado</h6></label>
                            <select class="form-control" th:field="*{estado}" name="estado" id="estado">
                                <option value="" disabled selected>Seleccione estado</option>
                                <option th:value="1" th:text="'Activo'"></option>
                                <option th:value="0" th:text="'Inactivo'"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-secondary botoncito1 table-light margen3 mt-3">Guardar</button>
                    <button type="button" th:onclick="|window.location.href='@{/usuarios/ver}'|" class="btn btn-outline-secondary botoncito1 table-light margen3 mt-3">Cancelar</button>

                </div>
            </form>
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer" class="footer"></footer>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/capitalizar.js}"></script>
<!-- Scripts necesarios -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
