<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>CargaDeMenu</title>
    <script th:src="@{/js/toogleText.js}"></script>
</head>
<body>
<header th:insert="fragments/menu :: menu-principal">

</header>


<div class="container mt-4">
    <div class="card1 row justify-content-center">
        <h1 class="text-center card-header"><strong>Carga de Menú</strong>></h1>
        <div class="col-md-9">
            <div class="card shadow">
                <div class="card-body ">
                    <form th:action="@{/menu/guardar}" method="post">
                        <div class="mb-3">
                            <label for="fecha" class="form-label"><h5>Fecha:</h5></label>
                            <input type="date" class="form-control" id="fecha" name="fechaMenu" min="[[${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}]]" required>
                        </div>
                        <div class="mb-3">
                            <label for="comida" class="form-label"><h5>Comida:</h5></label>
                            <div class="d-flex">
                                <select class="form-control flex-grow-1" id="comida" name="comidaId" required>
                                    <option value="">Seleccionar comida</option>
                                    <option th:each="comida : ${comidas}" th:value="${comida.id_comida}" th:text="${comida.principal}+' --- ' + ${comida.entrada} +' --- ' + ${comida.postre}"></option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-outline-secondary float-end" type="submit">Agregar</button>
                    </form>
                </div>
            </div>

            <!-- Tabla de menús no procesados -->
            <div class="card mt-4 shadow">
                <div class="card1 card-body">
                    <h5>Últimas cargas no procesadas</h5>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Comida</th>
                        </tr>
                        </thead>
                        <tbody>

                       <tr th:each="menu : ${menus}">

                           <td th:if="${menu.fechaMenu != null}" th:text="${#temporals.format(menu.fechaMenu, 'EEEE dd  MMMM  yyyy')}"></td>

                           <!-- Formatear la comida con una separación visual -->
                           <td>
                               <div>
                                   <strong>Entrada:</strong> <span th:text="${menu.comida.entrada}"></span>
                               </div>
                               <div>
                                   <strong>Plato Principal:</strong> <span th:text="${menu.comida.principal}"></span>
                               </div>
                               <div>
                                   <strong>Postre:</strong> <span th:text="${menu.comida.postre}"></span>
                               </div>
                               <div th:switch="${menu.comida.tipo_comida}">
                                   <strong>Tipo:</strong> <span ></span>
                                       <span th:case="1">Principal</span>
                                       <span th:case="2">Ligth</span>
                                       <span th:case="3">Celiaco</span>
                                       <span th:case="4">Fruta</span>
                               </div>
                           </td>

                           <!-- Botón de eliminar -->
                           <td>
                               <form th:action="@{/menu/eliminar/{id}(id=${menu.id_menu})}" method="post">
                                   <button class="btn btn-danger btn-sm" type="submit" title="Eliminar">
                                       <i class="bi bi-trash"></i> Eliminar
                                   </button>
                               </form>
                           </td>
                       </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <!-- Botón para procesar menús -->
            <form th:action="@{/menu/procesar}" method="post">
                <button class="btn btn-outline-secondary float-end" type="submit">Publicar Menús</button>
            </form>
        </div>
    </div>
</div>

</main>
<footer th:insert="fragments/footer :: footer" class="footer">

    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</footer>
</body>
</html>
