<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>verMenu</title>
    <script th:src="@{/js/toogleText.js}"></script>

</head>
<body>
<header th:insert="fragments/menu :: menu-principal">

</header>
<div class="container mt-3">
    <div class="card1">
        <h1 class="card-header text-center"><strong>Menús desde la Fecha Actual</strong></h1>
        <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th class="text-left col-4">Fecha</th>
                <th class="text-center">Entrada</th>
                <th  class="text-center col-5">Principal</th>
                <th class="text-center">Postre</th>
                <th class="text-right col-2">Tipo de Comida</th>
            </tr>
            </thead>


            <tbody class="table table-borderless w-100 striped-table">
            <tr th:each="menu : ${menus}">
                <td th:if="${menu.fechaMenu != null}" th:text="${#temporals.format(menu.fechaMenu, 'EEEE dd  MMMM  yyyy')}"></td>

                <td th:text="${menu.comida.entrada}"></td>
                <td  th:text="${menu.comida.principal}"></td>
                <td th:text="${menu.comida.postre}"></td>
                <td th:switch="${menu.comida.tipo_comida}">
                    <span th:case="1">Principal</span>
                    <span th:case="2">Ligth</span>
                    <span th:case="3">Celiaco</span>
                    <span th:case="4">Fruta</span>
                </td>
            </tr>
            </tbody>
        </table>
            <div class="text-center mt-3">
                <a th:href="@{/menu/vertodo}" class="btn btn-outline-secondary botoncito1 table-light margen3">MenusTodos</a>
                </div>
        </div>
    </div>

</div>
<footer th:insert="fragments/footer :: footer" class="footer"> </footer>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<!--<script th:src="@{/js/script.js"></script>-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>
