<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>CargaDeMenu</title>
    <script th:src="@{/js/toogleText.js}"></script>
</head>
<body>
<header th:replace="fragments/menu :: menu-principal"></header>



<div class="col-md-12 col-lg-11 m-1 mx-auto">
    <div class="card1 mt-3">
        <h4 class="text-center card-header"><strong>Carga de Menú</strong></h4>


        <div class="card-body">
            <form th:action="@{/menu/guardar}" method="post">
                <div class="row mb-3">
                    <!-- Columna para la fecha -->
                    <div class="col-lg-6">
                        <label for="fecha" class="form-label"><h5>Fecha:</h5></label>
                        <input type="date" class="form-control" id="fecha" name="fechaMenu" min="[[${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}]]" required>
                    </div>

                    <!-- Columna para la comida -->
                    <div class="col-lg-6">
                        <label for="comida" class="form-label"><h5>Comida:</h5></label>
                        <div class="d-flex">
                            <input type="text" class="form-control" id="comida" placeholder="Escriba la comida" required>
                            <input type="hidden" id="comidaId" name="comidaId"> <!-- Campo oculto para comidaID -->
                            <div id="comida-sugerencias" class="list-group"></div> <!-- Sugerencias -->
                        </div>
                    </div>
                </div>

                <!-- Botón centrado -->
                <div class="text-center mt-3">
                    <button class="btn btn-outline-secondary" type="submit">Agregar <i class="bi bi-plus"></i></button>
                </div>
            </form>
        </div>



        <!-- Tabla de menús no procesados -->

                <div>
                    <h3 class="text-center border-bottom">Últimas cargas no procesadas</h3>
                    <div class="table-responsive">
                    <table class="table ">
                        <thead>
                        <tr class="thead-light1">
                            <th>Fecha</th>
                            <th>Comida</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="table-borderless w-100 striped-table">

                       <tr th:each="menu : ${menus}">

                           <td th:if="${menu.fechaMenu != null}">
                               <span class="d-none d-md-inline" th:text="${#temporals.format(menu.fechaMenu, 'EEEE dd MMMM yyyy')}"></span>
                               <span class="d-inline d-md-none" th:text="${#temporals.format(menu.fechaMenu, 'dd/MM')}"></span>
                           </td>


                           <!-- Formatear la comida con una separación visual -->
                           <td>
                               <div>
                                   <strong>Entrada:</strong> <span th:text="${menu.comida.entrada}"></span>
                               </div>
                               <div>
                                   <strong>Plato Principal:</strong> <span th:text="${menu.comida.principal}"></span>
                               </div>
                               <div>
                                   <strong>Postre:</strong> <span th:text="${menu.comida.postre}"></span>
                               </div>
                               <div th:switch="${menu.comida.tipo_comida}">
                                   <strong>Tipo:</strong> <span ></span>
                                   <span th:case="1"><img class="nanbtn2" th:src="@{/images/principal.png}" alt="Principal"></span>
                                   <span th:case="2"><img class="nanbtn2" th:src="@{/images/light.png}" alt="Light"></span>
                                   <span th:case="3"><img class="nanbtn2" th:src="@{/images/celiaco.png}" alt="Celiaco"></span>
                                   <span th:case="4"><img class="nanbtn2" th:src="@{/images/frutas.png}" alt="Frutas"></span>

                               </div>
                           </td>

                           <td class="align-middle">
                               <div class="d-flex justify-content-center">
                                   <form th:action="@{/menu/eliminar/{id}(id=${menu.id_menu})}" method="post">
                                       <button class="btn-no-border" type="submit" title="Eliminar">
                                           <i class="bi bi-trash"></i>
                                       </button>
                                   </form>
                               </div>
                           </td>

                       </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <br>
            <!-- Botón para procesar menús -->
            <form class="text-center" th:action="@{/menu/procesar}" method="post">
                <button class="btn btn-outline-secondary botoncito1 table-light margen3 mt-3 float-end" type="submit">Publicar Menús</button>
            </form>
        </div>
    </div>
</div>

</main>
<footer th:insert="fragments/footer :: footer" class="footer">

</footer>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/buscarComida.js}"></script>
<!-- Scripts necesarios -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
