<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>CargaDeMenu</title>
    <script th:src="@{/js/toogleText.js}"></script>
</head>
<body>
<header th:insert="fragments/menu :: menu-principal">

</header>


<div class="container">
    <div class="card1 mt-3">
        <h1 class="text-center card-header"><strong>Carga de Menú</strong></h1>


                <div class="card-body ">
                    <form th:action="@{/menu/guardar}" method="post">
                        <div class="mb-3">
                            <label for="fecha" class="form-label"><h5>Fecha:</h5></label>
                            <input type="date" class="form-control col-lg-5 " id="fecha" name="fechaMenu" min="[[${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}]]" required>
                        </div>
                        <div class="mb-3">
                           <!-- <label for="comida" class="form-label  "><h5>Comida:</h5></label>
                            <div class="d-flex">
                                <select class="form-control flex-grow-1 col-lg-5 a" id="comida" name="comidaId" required>
                                    <option value="">Seleccionar comida</option>
                                    <option class="a" th:each="comida : ${comidas}" th:value="${comida.id_comida}" th:text="${comida.principal}+' --- ' + ${comida.entrada} +' --- ' + ${comida.postre}"></option>
                                </select>
                                <button class="btn btn-outline-secondary float-end b" type="submit">Agregar  <i class="bi bi-plus"></i></button>
                            </div>-->
                            <div class="mb-3">
                                <label for="comida" class="form-label"><h5>Comida:</h5></label>
                                <div class="d-flex">
                                    <input type="text" class="form-control flex-grow-1 col-lg-5 a" id="comida" placeholder="Escriba la comida" required>
                                    <input type="hidden" id="comidaId" name="comidaId">  <!-- Campo oculto para almacenar comidaID -->
                                    <div id="comida-sugerencias" class="list-group"></div>  <!-- Aquí se muestran las sugerencias -->
                                </div>
                            </div>
                            <button class="btn btn-outline-secondary float-end b" type="submit">Agregar  <i class="bi bi-plus"></i></button>
                        </div>

                    </form>
                </div>


            <!-- Tabla de menús no procesados -->

                <div>
                    <h3 class="text-center border-bottom">Últimas cargas no procesadas</h3>
                    <div class="table-responsive">
                    <table class="table ">
                        <thead>
                        <tr class="thead-dark">
                            <th>Fecha</th>
                            <th>Comida</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="table-borderless w-100 striped-table">

                       <tr th:each="menu : ${menus}">

                           <td th:if="${menu.fechaMenu != null}" th:text="${#temporals.format(menu.fechaMenu, 'EEEE dd  MMMM  yyyy')}"></td>

                           <!-- Formatear la comida con una separación visual -->
                           <td>
                               <div>
                                   <strong>Entrada:</strong> <span th:text="${menu.comida.entrada}"></span>
                               </div>
                               <div>
                                   <strong>Plato Principal:</strong> <span th:text="${menu.comida.principal}"></span>
                               </div>
                               <div>
                                   <strong>Postre:</strong> <span th:text="${menu.comida.postre}"></span>
                               </div>
                               <div th:switch="${menu.comida.tipo_comida}">
                                   <strong>Tipo:</strong> <span ></span>
                                       <span th:case="1">Principal</span>
                                       <span th:case="2">Ligth</span>
                                       <span th:case="3">Celiaco</span>
                                       <span th:case="4">Fruta</span>
                               </div>
                           </td>

                           <td class="align-middle">
                               <div class="d-flex justify-content-center">
                                   <form th:action="@{/menu/eliminar/{id}(id=${menu.id_menu})}" method="post">
                                       <button class="btn-no-border" type="submit" title="Eliminar">
                                           <i class="bi bi-trash"></i>
                                       </button>
                                   </form>
                               </div>
                           </td>

                       </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <br>
            <!-- Botón para procesar menús -->
            <form th:action="@{/menu/procesar}" method="post">
                <button class="btn btn-outline-secondary botoncito1 table-light margen3 mt-3 float-end" type="submit">Publicar Menús</button>
            </form>
        </div>
    </div>
</div>

</main>
<footer th:insert="fragments/footer :: footer" class="footer">

</footer>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/buscarComida.js}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>
