<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">

  <title>Menu Semanal</title>
</head>
<body>
<header th:insert="fragments/menu :: menu-principal">

</header>

<h1>Menú del día - <span id="fecha"></span></h1>

<!-- Selección de Comida -->
<h2>Seleccione su comida:</h2>
<form action="#" method="post">
  <div th:each="dia : ${menusPorDia}">
    <h3 th:text="${#temporals.format(dia.key, 'EEEE dd MMMM yyyy')}">Día</h3>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Menú</th>
        <th>Seleccionar</th>
      </tr>
      </thead>
      <tbody th:each="menu : ${dia.value}">
      <tr>
        <td th:text="${menu.comida}"></td>
        <td>
          <input type="radio" name="menuSeleccionado__${#temporals.format(dia.key, 'yyyyMMdd')}" th:value="${menu.id_menu}" required>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Selección de Tipo de Consumo para cada día -->
    <h4>¿Dónde comerá el <span th:text="${#temporals.format(dia.key, 'EEEE')}"></span>?</h4>
    <div>
      <input type="radio" id="|comedor__${#temporals.format(dia.key, 'yyyyMMdd')}|" name="|tipo_comida__${#temporals.format(dia.key, 'yyyyMMdd')}|" value="Comedor" required>
      <label th:for="|comedor__${#temporals.format(dia.key, 'yyyyMMdd')}|">Comedor</label>
    </div>
    <div>
      <input type="radio" id="|vianda__${#temporals.format(dia.key, 'yyyyMMdd')}|" name="|tipo_comida__${#temporals.format(dia.key, 'yyyyMMdd')}|" value="Vianda" required>
      <label th:for="|vianda__${#temporals.format(dia.key, 'yyyyMMdd')}|">Vianda</label>
    </div>
    <div>
      <input type="radio" id="|retirar__${#temporals.format(dia.key, 'yyyyMMdd')}|" name="|tipo_comida__${#temporals.format(dia.key, 'yyyyMMdd')}|" value="Retira" required>
      <label th:for="|retirar__${#temporals.format(dia.key, 'yyyyMMdd')}|">Retira</label>
    </div>

    <!-- Botón para enviar la selección -->
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Confirmar Menu</button>
    </div>
  </div>


</form>

<!-- Tabla de menús no procesados -->
<div class="card mt-4 shadow">
  <div class="card1 card-body">
    <h5>Últimas cargas no procesadas</h5>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Fecha</th>
        <th>Comida</th>
        <th>Medio</th>
      </tr>
      </thead>
      <tbody>

      <tr th:each="reserva : ${reservas}">

        <td th:if="${reserva.f_reserva != null}" th:text="${#temporals.format(reserva.f_reserva, 'EEEE dd  MMMM  yyyy')}"></td>

        <!-- Formatear la comida con una separación visual -->
        <td>
          <div>
            <strong>Entrada:</strong> <span th:text="${reserva.menu.comida.entrada}"></span>
          </div>
          <div>
            <strong>Plato Principal:</strong> <span th:text="${reserva.menu.comida.principal}"></span>
          </div>
          <div>
            <strong>Postre:</strong> <span th:text="${reserva.menu.comida.postre}"></span>
          </div>
          <div th:switch="${reserva.menu.comida.tipo_comida}">
            <strong>Tipo:</strong> <span ></span>
            <span th:case="1">Principal</span>
            <span th:case="2">Ligth</span>
            <span th:case="3">Celiaco</span>
            <span th:case="4">Fruta</span>
          </div>
        </td>
        <td th:text="${reserva.medio}"></td>

        <!-- Botón de eliminar -->
        <td>
          <form th:action="@{/menu/eliminar/{id}(id=${menu.id_menu})}" method="post">
            <button class="btn btn-danger btn-sm" type="submit" title="Eliminar">
              <i class="bi bi-trash"></i> Eliminar
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<!-- Botón para procesar menús -->
<form th:action="@{/menu/procesar}" method="post">
  <button class="btn btn-outline-secondary float-end" type="submit">Publicar Menús</button>
</form>
</div>
</div>
</div>


<footer th:insert="fragments/footer :: footer" class="footer">
  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</footer>
</body>
</html>