<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Productos</title>
    <script th:src="@{/js/toogleText.js}"></script>

</head>
<body>
<header th:insert="fragments/menu :: menu-principal">

</header>
<div class="container mt-4">
    <h1 class="text-center">Menús desde la Fecha Actual</h1>
    <table class="table table-striped table-bordered mt-4">
        <thead class="thead-dark">
        <tr>
            <th>Fecha</th>
            <th>Entrada</th>
            <th>Principal</th>
            <th>Postre</th>
            <th>Tipo de Comida</th>
        </tr>
        </thead>
        <tbody th:each="menu : ${menus}">
            <td th:if="${menu.fechaMenu != null}" th:text="${#temporals.format(menu.fechaMenu, 'EEEE dd  MMMM  yyyy')}"></td>

            <td th:text="${menu.comida.entrada}"></td>
            <td  th:text="${menu.comida.principal}"></td>
            <td th:text="${menu.comida.postre}"></td>
            <td th:switch="${menu.comida.tipo_comida}">
                <span th:case="1">Principal</span>
                <span th:case="2">Ligth</span>
                <span th:case="3">Celiaco</span>
                <span th:case="4">Fruta</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:insert="fragments/footer :: footer" class="footer">

    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/script.js"></script>

</footer>
</body>
</html>
