<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>ver Menu</title>
    <script th:src="@{/js/toogleText.js}"></script>

</head>
<body>
<header th:replace="fragments/menu :: menu-principal"></header>

<div class="col-md-12 col-lg-11 m-1 mx-auto mt-3 mb-3">
    <div class="card1">
        <h3 class="card-header text-center"><strong>Menús desde hoy</strong></h3>
        <div class="table-responsive">
        <table class="table">
            <thead class="thead-light1">
            <tr>
                <th class="col-2 pl-1 pr-1">Fecha</th>
                <th class="col-2 pl-1 pr-1">Entrada</th>
                <th  class="col-3 pl-1 pr-1">Menú</th>
                <th class="col-2 pl-1 pr-1">Postre</th>
                <th class="col-2 pl-1 pr-1">Tipo</th>
            </tr>
            </thead>


            <tbody class="table table-borderless w-100 striped-table">
            <tr th:each="menu : ${menus}">

                <td class="d-none d-md-table-cell" th:if="${menu.fechaMenu != null}"
                    th:text="${#temporals.format(menu.fechaMenu, 'EEEE dd  MMMM  yyyy')}">
                </td>


                <td class="d-md-none" th:if="${menu.fechaMenu != null}"
                    th:text="${#temporals.format(menu.fechaMenu, 'dd/MM')}">
                </td>


                <td class=" pl-1 pr-1" th:text="${menu.comida.entrada}"></td>
                <td class=" pl-1 pr-1" th:text="${menu.comida.principal}"></td>
                <td class=" pl-1 pr-1" th:text="${menu.comida.postre}"></td>
                <td class=" pl-1 pr-1" th:switch="${menu.comida.tipo_comida}">
                    <span th:case="1"><img class="nanbtn2" th:src="@{/images/principal.svg}" alt="Principal"></span>
                    <span th:case="2"><img class="nanbtn2" th:src="@{/images/light.svg}" alt="Light"></span>
                    <span th:case="3"><img class="nanbtn2" th:src="@{/images/celiaco.svg}" alt="Celiaco"></span>
                    <span th:case="4"><img class="nanbtn2" th:src="@{/images/frutas.svg}" alt="Frutas"></span>
                </td>
            </tr>
            </tbody>
        </table>
            <div class="text-center mt-3">
                <a th:href="@{/menu/vertodo}" class="btn btn-outline-secondary botoncito1 table-light margen3 mb-3">Ver todos</a>
                </div>
        </div>
    </div>

</div>
<footer th:insert="fragments/footer :: footer" class="footer"> </footer>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<!--<script th:src="@{/js/script.js"></script>-->
<!-- Scripts necesarios -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
