<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Menu Semanal</title>
</head>
<body>
<header th:replace="fragments/menu :: menu-principal"></header>

<main>


  <div class="col-md-12 col-lg-11 m-1 mx-auto">
    <div class="card1 mt-3">
      <h4 class="card-header text-center">
        <strong>Menú  <span id="fecha"></span> <span th:text="${rangoFechas}"></span></strong>
      </h4>

      <!-- Mostrar mensaje "Próximamente" si no hay menús -->
      <div th:if="${mensaje}">
        <h4 class="text-center m-4" th:text="${mensaje}"></h4>
      </div>

      <!-- Mostrar los menús solo si existen -->
      <div th:if="${menusPorDia}">
        <!-- Selección de Comida -->
        <div class="card1 border-dark m-2 overflow-hidden" th:each="dia : ${menusPorDia}">
          <div class="card-header p-0 text-center">
            <h5 class="m-2">
              <caption th:text=" ${#temporals.format(dia.key, 'EEEE dd MMMM yyyy')}"></caption>
            </h5>
          </div>

          <div class="table-responsive">
            <table class="table">
              <thead class="thead-light">
              <tr>
                <th class="col-3">Entrada</th>
                <th class="col-5">Menú</th>
                <th class="col-2">Postre</th>
                <th class="col-2">Tipo</th>
              </tr>
              </thead>
              <tbody class="table-borderless w-100 striped-table">
              <tr th:each="menu : ${dia.value}">
                <td th:text="${menu.comida.entrada}"></td>
                <td class="" th:text="${menu.comida.principal}"></td>
                <td class="" th:text="${menu.comida.postre}"></td>
                <td class="" th:switch="${menu.comida.tipo_comida}">
                  <span th:case="1"><img class="nanbtn2" th:src="@{/images/principal.svg}" alt="Principal"></span>
                  <span th:case="2"><img class="nanbtn2" th:src="@{/images/light.svg}" alt="Light"></span>
                  <span th:case="3"><img class="nanbtn2" th:src="@{/images/celiaco.svg}" alt="Celiaco"></span>
                  <span th:case="4"><img class="nanbtn2" th:src="@{/images/frutas.svg}" alt="Frutas"></span>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>
</main>

<footer th:insert="fragments/footer :: footer" class="footer"></footer>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/horaActual.js}"></script>
<!-- Scripts necesarios -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
