<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Listado Reservas</title>
</head>
<body>
<header th:replace="fragments/menu :: menu-principal"></header>


<div class="col-md-12 col-lg-11 m-1 mx-auto">

    <div id="error-message" th:if="${error}">
        <p class="alert alert-danger" role="alert" th:text="${error}"></p>
    </div>
    <div class="col-md-12 col-lg-11 m-1 mx-auto ">
        <div class="card1 mt-3">
            <h4 class="card-header text-center"><strong>Mis Reservas</strong></h4>
            <div class="table-responsive">
                <table class="table mt-3">
                    <thead class="thead-light1">
                    <tr class="">
                        <th class="col-1 pl-2">Día</th>
                        <th class="col-2 pl-1 pr-1 ">Entrada</th>
                        <th class="col-3 p-1">Principal</th>
                        <th class="col-1 p-1">Postre</th>
                        <th class="col-1 p-1">Tipo</th>
                        <th class="p-1">Lugar</th>
                        <th class="p-1">Entregado</th>
                        <th class="text-right p-1">Eliminar</th>
                    </tr>
                    </thead>
                    <tbody  class="table-borderless w-100 striped-table ">

                    <tr class="" th:each="reserva : ${reservas}">
                        <!-- Formato de fecha para pantallas grandes -->
                        <td class="text-left d-none d-md-table-cell">
                            <span th:text="${reserva.menu != null && reserva.menu.fechaMenu != null ? #temporals.format(reserva.menu.fechaMenu, 'EEEE dd MMMM yyyy') : 'Sin fecha'}"></span>
                        </td>

                        <!-- Formato de fecha para pantallas pequeñas -->
                        <td class="text-left d-md-none p-0">
                            <span th:text="${reserva.menu != null && reserva.menu.fechaMenu != null ? #temporals.format(reserva.menu.fechaMenu, 'dd/MM') : 'Sin fecha'}"></span>
                        </td>

                        <td class="pl-1 pr-1" th:text="${reserva.menu != null && reserva.menu.comida != null && reserva.menu.comida.entrada != null ? reserva.menu.comida.entrada : 'Sin entrada'}"></td>
                        <td class="p-1" th:text="${reserva.menu != null && reserva.menu.comida != null && reserva.menu.comida.principal != null ? reserva.menu.comida.principal  : 'Sin Comida'}">Principal</td>
                        <td class="p-1" th:text="${reserva.menu != null && reserva.menu.comida != null && reserva.menu.comida.postre != null ? reserva.menu.comida.postre : 'Sin Postre'}">Postre</td>
                        <td class="p-1" th:switch="${reserva.menu != null && reserva.menu.comida != null && reserva.menu.comida.tipo_comida != null ? reserva.menu.comida.tipo_comida : 'Sin Tipo'}">
                            <span th:case="1"><img class="nanbtn2" th:src="@{/images/principal.svg}" alt="Principal"></span>
                            <span th:case="2"><img class="nanbtn2" th:src="@{/images/light.svg}" alt="Light"></span>
                            <span th:case="3"><img class="nanbtn2" th:src="@{/images/celiaco.svg}" alt="Celiaco"></span>
                            <span th:case="4"><img class="nanbtn2" th:src="@{/images/frutas.svg}" alt="Frutas"></span>
                        </td>
                        <td class="p-1" th:switch="${reserva.medio}">
                           <span th:case="1">
                                         <img class="nanbtn2" th:src="@{/images/comedor.png}" alt="Comedor">
                                   </span>
                            <span th:case="2">
                                        <img class="nanbtn2" th:src="@{/images/retira.png}" alt="retira">
                                   </span>
                            <span th:case="3">
                                        <img class="nanbtn2" th:src="@{/images/vianda.svg}" alt="vianda">
                                   </span>
                            <span th:case="*">
                                        <span th:text="'Valor de medio desconocido: ' + ${reserva.medio}"></span>
                                   </span>
                        </td>
                        <td class="p-1">
                        <span th:class="${reserva.entregado != null ? 'text-success' : 'text-danger'}"
                              th:text="${reserva.entregado != null ? 'Entregado ' + reserva.entregado : 'No entregado'}">
                        </span>
                        </td>
                        <td class="align-middle p-1">
                            <div class="d-flex justify-content-center">
                                <form th:action="@{/reservas/eliminarUser/{id}(id=${reserva.idReserva})}" method="post" style="display:inline;"
                                      onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta reserva?');">
                                    <button type="submit" class="btn-no-border" title="Eliminar">
                                        <i class="bi bi-trash" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<footer th:insert="fragments/footer :: footer" class="footer"></footer>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/horaActual.js}"></script>
<script type="text/javascript">
    // Espera a que la página se cargue completamente
    window.onload = function() {
        // Selecciona el mensaje de error
        var errorMessage = document.getElementById("error-message");

        // Si el mensaje de error existe
        if (errorMessage) {
            // Después de 15 segundos (15000 milisegundos), oculta el mensaje
            setTimeout(function() {
                errorMessage.style.display = 'none';
            }, 15000); // 15 segundos
        }
    }
</script>
<!-- Scripts necesarios -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>