<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Invitados</title>
</head>
<body>
<header th:replace="fragments/menu :: menu-principal"></header>

<div class="mr-1 mr-md-3 mr-lg-5">
    <span><p class="m-4 text-right" id="hora-actual" th:text="${#temporals.format(serverTime, 'EEEE dd MMMM yyyy HH:mm:ss')}">Día</p></span>
</div>

<div class="col-md-12 col-lg-11 m-1 mx-auto">
    <div class="card1 mt-3">
        <h3 class="card-header text-center"><strong>Reserva Comedor Invitados <span id="fecha"></span></strong></h3>

        <h4 class="m-1">Seleccione su comida y especificaciones: </h4>
        <hr class="m-0">

        <!-- Iterar sobre cada día, y crear un formulario separado para cada uno -->
        <div th:each="dia : ${menusPorDia}">
            <form th:action="@{/reservas/invitadosjefes}" method="post">
                <div class="card1 mt-2 border-dark m-1 pb-3">
                    <div class="card-header p-0 text-center">
                        <h4 class="m-3">
                            <span th:text="'Menú del día ' + ${#temporals.format(dia.key, 'EEEE dd MMMM yyyy')}"></span>
                        </h4>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light1">
                            <tr>
                                <th class="text-center">Selección</th>
                                <th>Tipo</th>
                                <th>Principal</th>
                                <th>Entrada</th>
                                <th>Postre</th>
                                <th>Lugar de Consumo</th>
                                <th>Invitados</th>
                            </tr>
                            </thead>
                            <tbody class="table-borderless striped-table">
                            <tr th:each="menu : ${dia.value}">
                                <td class="text-center">
                                    <!-- Cambia a checkbox -->
                                    <input class="form-check-input" type="checkbox"
                                           th:name="'menuSeleccionado_' + ${#temporals.format(dia.key, 'yyyyMMdd')} + '_' + ${menu.id_menu}"
                                           th:value="${menu.id_menu}">
                                </td>
                                <td th:switch="${menu.comida.tipo_comida}">
                                    <span th:case="1"><img class="nanbtn2" th:src="@{/images/principal.png}" alt="Principal"></span>
                                    <span th:case="2"><img class="nanbtn2" th:src="@{/images/light.png}" alt="Light"></span>
                                    <span th:case="3"><img class="nanbtn2" th:src="@{/images/celiaco.png}" alt="Celiaco"></span>
                                    <span th:case="4"><img class="nanbtn2" th:src="@{/images/frutas.png}" alt="Frutas"></span>
                                </td>
                                <td th:text="${menu.comida.principal}"></td>
                                <td th:text="${menu.comida.entrada}"></td>
                                <td th:text="${menu.comida.postre}"></td>
                                <td>
                                    <select th:name="'lugarConsumo_' + ${#temporals.format(dia.key, 'yyyyMMdd')} + '_' + ${menu.id_menu}" class="form-control form-control-sm">
                                        <option value="comedor">Comedor</option>
                                        <option value="vianda">Vianda</option>
                                        <option value="retirar">Retira</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="number" th:name="'invitados_' + ${#temporals.format(dia.key, 'yyyyMMdd')} + '_' + ${menu.id_menu}" class="form-control form-control-sm" placeholder="0" min="0">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-outline-secondary">Confirmar Menú</button>
                </div>
            </form>
        </div>

    </div>
</div>
<!-- Tabla de reservas de la semana -->
<hr>
<div class="col-md-12 col-lg-11 m-1 mx-auto pb-4">
    <div class="card1 mt-4 overflow-hidden">
        <h4 class="text-center m-3">Mis INVITADOS de la semana</h4>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light1">
                <tr>
                    <th>Día</th>
                    <th>Entrada</th>
                    <th>Principal</th>
                    <th>Postre</th>
                    <th>Tipo</th>
                    <th>Lugar</th>
                    <th>Estado</th>
                    <th>Cantidad</th>
                    <th>Editar</th>
                </tr>
                </thead>
                <tbody class="table-borderless w-100 striped-table">
                <tr th:each="reserva : ${reservas}">
                    <td>
                        <span th:text="${#temporals.format(reserva.menu.fechaMenu, 'EEEE dd MMMM yyyy')}">Fecha</span>
                    </td>
                    <td th:text="${reserva.menu.comida.entrada}">Entrada</td>
                    <td th:text="${reserva.menu.comida.principal}">Plato Principal</td>
                    <td th:text="${reserva.menu.comida.postre}">Postre</td>
                    <td th:switch="${reserva.menu.comida.tipo_comida}">
                        <span th:case="1"><img class="nanbtn2" th:src="@{/images/principal.svg}" alt="Principal"></span>
                        <span th:case="2"><img class="nanbtn2" th:src="@{/images/light.svg}" alt="Light"></span>
                        <span th:case="3"><img class="nanbtn2" th:src="@{/images/celiaco.svg}" alt="Celiaco"></span>
                        <span th:case="4"><img class="nanbtn2" th:src="@{/images/frutas.svg}" alt="Frutas"></span>
                    </td>
                    <td th:switch="${reserva.medio}">
                        <span th:case="1"><img class="nanbtn2" th:src="@{/images/comedor.png}" alt="Comedor"></span>
                        <span th:case="2"><img class="nanbtn2" th:src="@{/images/vianda.svg}" alt="vianda"></span>
                        <span th:case="3"><img class="nanbtn2" th:src="@{/images/retira.png}" alt="retira"></span>
                    </td>
                    <td>
                                    <span th:class="${reserva.entregado != null ? 'text-success' : 'text-danger'}"
                                          th:text="${reserva.entregado != null ? 'Entregado ' + reserva.entregado : 'No entregado'}">
                                    </span>
                    </td>
                    <td th:text="${reserva.cantidad}">Cantidad</td>
                    <td class="float-center">
                        <form th:action="@{/reservas/eliminar/{id}(id=${reserva.idReserva})}" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta reserva?')">
                            <button class="nanbtn2"><i class="bi bi-trash"></i></button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<footer th:insert="fragments/footer :: footer" class="footer"></footer>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
