<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Reportes</title>
</head>
<body>
<header th:replace="fragments/menu :: menu-principal"></header>

<div class="container">
  <h1>Consumos</h1>

  <!-- Formulario para seleccionar el rango de fechas y filtros adicionales -->
  <form th:action="@{/reportes/reporte}" method="get" class="mb-3">
    <div class="form-row">
      <div class="col-md-3">
        <label for="fechaInicio">Fecha Inicio:</label>
        <input type="date" id="fechaInicio" name="fechaInicio" th:value="${fechaInicio}" class="form-control">
      </div>
      <div class="col-md-3">
        <label for="fechaFin">Fecha Fin:</label>
        <input type="date" id="fechaFin" name="fechaFin" th:value="${fechaFin}" class="form-control">
      </div>
      <div class="col-md-3">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" th:value="${apellido}" class="form-control">
      </div>
      <div class="col-md-3">
        <label for="empresa">Empresa:</label>
        <input type="text" id="empresa" name="empresa" th:value="${empresa}" class="form-control">
      </div>
    </div>
    <div class="mt-3">
      <button type="submit" class="btn btn-primary">Filtrar</button>
    </div>
  </form>

  <!-- Resumen de Reservas -->
  <h2>Resumen de Reservas</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Tipo de Comida</th>
      <th>Lugar de Consumo</th>
      <th>Estado de Entrega</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reserva : ${reservasFiltradas}">
      <td th:text="${reserva.usuario.apellido}"></td>
      <td th:text="${reserva.usuario.nombre}"></td>
      <td th:text="${tipoComidaDescripcion[reserva.menu.comida.tipo_comida]}"></td>
      <td th:text="${medioDescripcion[reserva.medio]}"></td>
      <td th:text="${reserva.entregado != null ? 'Entregado' : 'No Entregado'}"
          th:classappend="${reserva.entregado == null} ? 'text-danger' : 'text-success'"></td>
    </tr>
    </tbody>
  </table>

  <!-- Resumen de Totales -->
  <h3>Totales</h3>
  <ul>
    <li>Total de Reservas: <span th:text="${totalReservas}"></span></li>
    <li>Total Consumidas: <span th:text="${totalConsumidas}"></span></li>
    <li><span class="text-danger">No Consumidas:</span> <span th:text="${totalNoConsumidas}"></span></li>
  </ul>
</div>

<footer th:insert="fragments/footer :: footer" class="footer"></footer>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</body>
</html>
