<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Reportes</title>
</head>
<body>
<header th:replace="fragments/menu :: menu-principal"></header>

<div class="col-md-12 col-lg-11 m-1 mx-auto pb-3 mb-2">
  <div class="card1 mt-3">
      <h3 class="card-header text-center"><strong>Consumos</strong></h3>

        <!-- Formulario para seleccionar el rango de fechas y filtros adicionales -->
        <form th:action="@{/reportes/reporte}" method="get" class="mb-3">
          <div class="form-row m-3">
            <div class="col-md-3">
              <label for="fechaInicio">Fecha Inicio:</label>
              <input type="date" id="fechaInicio" name="fechaInicio" th:value="${fechaInicio}" class="form-control">
            </div>
            <div class="col-md-3">
              <label for="fechaFin">Fecha Fin:</label>
              <input type="date" id="fechaFin" name="fechaFin" th:value="${fechaFin}" class="form-control">
            </div>
            <div class="col-md-3">
              <label for="apellido">Apellido:</label>
              <input type="text" id="apellido" name="apellido" th:value="${apellido}" class="form-control">
            </div>
            <!--<div class="col-md-3">
              <label for="empresa">Empresa:</label>
              <input type="text" id="empresa" name="empresa" th:value="${empresa}" class="form-control">
            </div>-->
            <div class="col-md-3">
              <label for="empresa"><h6>Empresa</h6></label>
              <select class="form-control" name="empresa" id="empresa">
                <option value="" disabled selected>Seleccione empresa</option>
                <option th:each="empresa : ${empresas}" th:value="${empresa}" th:text="${empresa}"></option>
              </select>
            </div>
            <!--<div class="col-md-3">
              <label for="empresa">cc:</label>
              <input type="text" id="cc" name="cc" th:value="${cc}" class="form-control">
            </div>-->
            <div class="col-md-3">
              <label for="ceco"><h6>CeCo</h6></label>
              <select class="form-control" name="cc" id="ceco">
                <option value="" disabled selected>Seleccione CeCo</option>
                <option th:each="ceco : ${cecos}" th:value="${ceco}" th:text="${ceco}"></option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="entregado">Estado de Entrega:</label>
              <select id="entregado" name="entregado" class="form-control">
                <option value="">Todos</option>
                <option value="true">Entregado</option>
                <option value="false">No Entregado</option>
              </select>
            </div>
          </div>
          <div class="mt-3 text-center">
            <button type="submit" class="btn btn-outline-secondary botoncito1 table-light margen3 mb-4">Filtrar</button>
          </div>

        </form>


    <div class="card1 mt-2 border-dark m-1 pb-3">
      <div class="card-header p-0 text-center">
          <h4 class="">Resumen de Reservas</h4>
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-light1" >
            <tr class="text-left">
              <th>Apellido</th>
              <th>Nombre</th>
              <th>Tipo de Comida</th>
              <th>Lugar de Consumo</th>
              <th>Estado de Entrega</th>
            </tr>
            </thead>
            <tbody class="table-borderless w-100 striped-table text-left" >
            <tr th:each="reserva : ${reservasFiltradas}">
              <td th:text="${reserva.usuario.apellido}"></td>
              <td th:text="${reserva.usuario.nombre}"></td>
              <td th:text="${tipoComidaDescripcion[reserva.menu.comida.tipo_comida]}"></td>
              <td th:text="${medioDescripcion[reserva.medio]}"></td>
              <td th:text="${reserva.entregado != null ? 'Entregado' : 'No Entregado'}"
                  th:classappend="${reserva.entregado == null} ? 'text-danger' : 'text-success'"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
          <!-- Resumen de Totales -->
          <h3 class=" text-center mt-4 ">Totales</h3>
          <ul class="list text-center m-0 p-0 list-unstyled mb-3">
            <li>Total de Reservas: <span th:text="${totalReservas}"></span></li>
            <li>Total Consumidas: <span th:text="${totalConsumidas}"></span></li>
            <li><span class="text-danger">No Consumidas:</span> <span th:text="${totalNoConsumidas}"></span></li>
          </ul>
  </div>
  <div class="col-md-3">
    <a th:href="@{'/reportes/excel'(fechaInicio=${fechaInicio}, fechaFin=${fechaFin}, apellido=${apellido}, empresa=${empresa}, cc=${cc}, entregado=${entregado})}" class="btn btn-primary">Exportar a Excel</a>
  </div>
  <!--<div class="pagination">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
        <a class="page-link" th:href="@{'/reportes/reporte'(page=${currentPage - 1}, fechaInicio=${fechaInicio}, fechaFin=${fechaFin}, apellido=${apellido}, empresa=${empresa}, cc=${cc}, entregado=${entregado})}">Anterior</a>
      </li>
      <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'">
        <a class="page-link" th:href="@{'/reportes/reporte'(page=${i}, fechaInicio=${fechaInicio}, fechaFin=${fechaFin}, apellido=${apellido}, empresa=${empresa}, cc=${cc}, entregado=${entregado})}" th:text="${i + 1}">1</a>
      </li>
      <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
        <a class="page-link" th:href="@{'/reportes/reporte'(page=${currentPage + 1}, fechaInicio=${fechaInicio}, fechaFin=${fechaFin}, apellido=${apellido}, empresa=${empresa}, cc=${cc}, entregado=${entregado})}">Siguiente</a>
      </li>
    </ul>
  </div>-->
</div>
<footer th:insert="fragments/footer :: footer" class="footer"></footer>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
