
<nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" th:href="@{/reservas/reservas-semanales}">ComidaApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" th:href="@{/reservas/reservas-semanales}">Menu semanal</a>
      </li>
      <!-- Dropdown for Comida -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="comidaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Comida
        </a>
        <div class="dropdown-menu" aria-labelledby="comidaDropdown">
          <a class="dropdown-item" th:href="@{/comida/new}">Nueva comida</a>
          <a class="dropdown-item" th:href="@{/comida/ver}">Ver comidas</a>
        </div>
      </li>
      <!-- Dropdown for Consumo -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="consumoDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Consumo
        </a>
        <div class="dropdown-menu" aria-labelledby="consumoDropdown">
          <a class="dropdown-item" th:href="@{/consumos/ver}">Ver consumos</a>
          <a class="dropdown-item" th:href="@{/consumos/asignar}">Asigna consumos</a>
        </div>
      </li>
      <!-- Dropdown for Usuarios -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="usuariosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="usuariosDropdown">
          <a class="dropdown-item" th:href="@{/usuarios/ver}">Ver usuarios</a>
          <a class="dropdown-item" th:href="@{/usuarios/new}">Nuevo usuario</a>
        </div>
      </li>
      <!-- Dropdown for Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="menuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="menuDropdown">
          <a class="dropdown-item" th:href="@{/menu/crear}">Crear menu</a>
          <a class="dropdown-item" th:href="@{/menu/ver}">Ver menu</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/productos/ver}">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/reservas/ver}">Mis reservas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" th:href="@{/reservas/reservas-dia-actual}">ReservasDiarias</a>
      </li>
    </ul>

  <span class="text-light">Bienvenido</span>&nbsp;<span class="text-light" th:text="${nombreCompleto}"></span>
    <a class="btn btn-outline-secondary  table-light round-button ml-2" th:href="@{/logout}">
      <span class="glyphicon glyphicon-log-out"></span> Salir
    </a>
  </div>
</nav>
