<nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">ComidaApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" th:href="@{/reservas/reservas-semanales}">MenuSemanal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/comida/new}">ComidaNew</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/comida/ver}">ComidaVer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/consumos/ver}">ConsumosVer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/consumos/asignar}">ConsumosAsignar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/usuarios/ver}">UsuariosVer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/usuarios/new}">UsuariosNew</a>
      </li>
      <li>  <a class="nav-link" th:href="@{/productos/ver}">Productos</a> </li>

      <li>  <a class="nav-link" th:href="@{/menu/crear}">MenuCrear</a> </li>
      <li>  <a class="nav-link" th:href="@{/menu/ver}">MenuVer</a> </li>
      <li>  <a class="nav-link" th:href="@{/reservas/ver}">ReservaVer</a> </li>

      <li class="nav-item">
        <a class="nav-link" th:href="@{/usuarios/cambiar-clave}">CambiarClave</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/usuarios/cambiar-clave-rrhh}">ClaveRRHH</a>
      </li>
    </ul>
    <!--<span class="text-light">Bienvenido</span>&nbsp;<span class="text-light" sec:authentication="name"></span>-->
    <span class="text-light">Bienvenido</span>&nbsp;<span class="text-light" th:text="${nombreCompleto}"></span>
    <a class="btn btn-primary" th:href="@{/logout}">Salir</a>
  </div>
</nav>