<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
<br>
  <title>Ingreso comida</title>
</head>
<body>
<header th:insert="fragments/menu :: menu-principal">

</header>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <form th:action="@{/comida/save}" method="post"> action="ingresar_comida">
          <div class="mb-3">
            <img th:src="@{/images/comida.png}" width="64" height="64" alt="comida"> <br>

            <div class="row">
              <div class="col-12 col-md-4">
                <label for="floatingInput" class="form-label">Entrada:</label>
                <input type="text" class="form-control mb-2" id="floatingInput" name="entrada" placeholder="Entrada">
              </div>
              <div class="col-12 col-md-4">
                <label for="floatingInput" class="form-label">Principal:</label>
                <input type="text" class="form-control mb-2" id="floatingInput" name="principal" placeholder="Plato principal">
              </div>
              <div class="col-12 col-md-4">
                <label for="floatingInput" class="form-label">Postre:</label>
                <input type="text" class="form-control mb-2" id="floatingInput" name="postre" placeholder="Postre">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="Tipo" class="form-label">Tipo: </label>
              <select id="miSelect" name="tipo-comida"  class="form-select">
                <option value="">Selecciona una opción</option>
                <option value="usr">Principal</option>
                <option value="admin">Vegetariano</option>
                <option value="admin">Celiaco</option>
              </select>
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
      </div>
    </div>
  </div>


<footer th:insert="fragments/footer :: footer" class="footer">
  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</footer>
</body>
</html>