<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">

    <title>Ingreso comida</title>
</head>
<body>
<header th:insert="fragments/menu :: menu-principal">

</header>

<div class="caja1">
        <h1>Comedor</h1>
        <h2>Login</h2>
            <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Usuario</label>
         </div>
         <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Contraseña</label>
         </div>
         <button type="button" class="btn btn-success">Aceptar</button>
        
   </div>
<footer th:insert="fragments/footer :: footer" class="footer">
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</footer>
</body>
</html>