<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" th:href="@{/images/El-Doce-TV-en-vivo-Online-1.png}" type="image/x-icon">

  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Productos</title>
  <script th:src="@{/js/toogleText.js}"></script>
</head>
<body>
<header th:insert="fragments/menu :: menu-principal">

</header>

<main>
<h1 class="text-center">Carga de menú</h1>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body card1">
          <form onsubmit="return false;">
            <div class="mb-3">
              <label for="fecha" class="form-label"><h4>Fecha:</h4></label>
              <input type="date" class="form-control" id="fecha" placeholder="Fecha">
            </div>
            <div class="mb-3">
              <label for="menu" class="form-label"><h4>Comida:</h4></label>
              <div class="d-flex">
                <input type="text" class="form-control flex-grow-1" id="menu" placeholder="Ingresar comida">
                <button class="btn btn-outline-secondary" type="button" onclick="window.location.href='../pages/new_comida.html'">
                  <i class="fas fa-plus"><h3>+</h3></i>
                </button>
              </div>
            </div>
            <button class="btn btn-outline-secondary float-end" type="button" id="button-addon2">Agregar</button>
          </form>
        </div>
      </div>
      <div class="card mt-4 shadow">
        <div class="card1 card-body">
          <ul id="listaMenus" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
              <strong>Fecha - Comida</strong>
              <strong>X</strong>
            </li>
          </ul>
        </div>
      </div>
      <br>
      <button class="btn btn-outline-secondary float-end" type="submit">Enviar</button>
    </div>
  </div>
</div>

</main>
<footer th:insert="fragments/footer :: footer" class="footer">

  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</footer>
</body>
</html>
